/* ============================================================================= CONFIG FOR WEBSITE ========================================================================== */
/* Default font settings. The font-size percentage is of 16px. (0.75 * 16px = 12px) */
@font-face {font-family:'oratorstd'; src: url('../fonts/oratorstd.eot'); src: local('oratorstd'), url('../fonts/oratorstd.ttf') format('truetype');}

body { font-size: 100%; color: #000; font-family: Arial, sans-serif; font-size: 11px; font-weight: 200; }

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { color: black; font-family: Arial, sans-serif; font-weight: normal; /*line-height: 1em; */ }

h2 {font-size: 24px; text-transform: uppercase; color: #3a291a;}
h3 { font-size: 14px; text-transform: uppercase; }

h2, h3, h4 { line-height: 22px; }

/* Text elements
-------------------------------------------------------------- */
p { margin: 0 0 0.7em; line-height: 1.5em; }

a, a:visited { color: #000; text-decoration: none; cursor: pointer; outline: none; }

a:focus, a:hover { outline: none; color: #000; }

blockquote { margin: 1.5em; color: #fff; font-style: italic; }

strong, dfn { font-weight: bold; }

em, dfn { font-style: italic; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666; }

pre { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }

strong.hilite_txt { color: #05A1E4; }

/* Lists
-------------------------------------------------------------- */
ul, ol { /*margin: 0.5em 1em 1em 0; padding-left: 1.5em; line-height: 18px; */ }

ol { list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }

dd { margin-left: 1.5em; }

/* Tables
-------------------------------------------------------------- */
/*
	Because of the need for padding on TH and TD, the vertical rhythm
	on table cells has to be 27px, instead of the standard 18px or 36px
	of other elements. */
table { margin-bottom: 5px; width: 100%; }

th { font-weight: bold; }

thead th { background: #f2e7d4; }

tfoot { font-style: italic; }

caption { background: #eee; }

.hidden_txt { text-indent: -9999px; line-height: 0; font-size: 0; }

* { padding: 0; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { height: 100%; }

body { background: #fff; position: relative; z-index: 1; }

img { max-width: 100%; }

.clr, .clear { clear: both; }

.nbd { border: none !important; }

.nbdr { border-right: none !important; }

.nbdl { border-left: none !important; }

.nbdt { border-top: none !important; }

.nbdb { border-bottom: none !important; }

.nmrr { margin-right: 0px !important; }

.nmrl { margin-left: 0px !important; }

.nmrt { margin-top: 0 !important; }

.nmrb { margin-bottom: 0 !important; }

.npl { padding-left: 0px !important; }

.npr { padding-right: 0px !important; }

.npt { padding-top: 0 !important; }

.npl { padding-bottom: 0 !important; }

.no-bg { background: none !important; }

.flr { float: right !important; }

.fll { float: left !important; }

.bold {color: #000;}

.textInput { display: block; }

.hide { display: none !important; }

/* USING FOR SITE WITHOUT SLIDE IMAGE*/
.odd { background-color: #eeeeee !important; }

.clear-fix:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }

* html .clear-fix { zoom: 1; }

/* IE6 */
*:first-child + html .clear-fix { zoom: 1; }

/* IE7 */
/* ============================================================================= Non-Semantic Helper Classes ========================================================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }

.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

a { text-decoration: none; }

ul { margin: 0; padding: 0; list-style: none; }

/***************** HEADING SETTING ********************/
/* =================== ALL: Black - White Theme =================== */
::-moz-selection { background: #F8A350; color: #fff; text-shadow: none; }

::selection { background: #00a4e2; color: #fff; text-shadow: none; }

/* Global variable */
/***************** SETTING WIDTH FOR HEADER - CONTENT - FOOTER  ********************/
.header, .content, .slider, .footer { width: 100%; margin: 0px auto; padding: 0; }
.fl {float: left;} .fr {float: right;} .w160 {width: 160px;} .mb15 {margin-bottom: 15px;} .relative {position: relative;} .w480 {width: 480px;} .w240 {width: 240px;} .mt10 {margin-top: 10px;}
.ml10 {margin-left: 10px;} .mb200 {margin-bottom: 200px;} .w150 {width: 150px;} .mt100 {margin-top: 130px !important;} .ml5 {margin-left: 5px;} .mb20 {margin-bottom: 20px;} .mt120 {margin-top: 140px;}
.font10 {font-size: 10px;} .mr35 {margin-right: 35px;} .mt10 {margin-top: 10px;} .p5t {padding-top: 5px;} .p5l {padding-left: 5px;}

/***************** HEADER ********************/

.container {padding: 0; width: 960px;}
#page_margins {width: 100%;}
#page {border: 1px solid #000; margin: 0 auto; width: 850px;}
#footer {margin: 0 auto; padding-top: 10px; width: 850px;}
.bg1 {background: url("../img/1.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 560px; position: relative; width: 848px;}
.bg2 {background: url("../img/2.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 560px; position: relative; width: 848px;}
.bg a {color: #000; font-weight: normal; text-decoration: none;}
.bg a:hover {color: #fc9028; font-weight: normal; text-decoration: none;}
.menu_hvem {border-bottom: 1px solid #000; font-size: 15px; left: 109px; padding-right: 20px; position: absolute; top: 84px;}
.menu_hvad {border-bottom:1px solid #000;font-size:15px;left:480px;padding-left:30px;position:absolute;top:50px;}
.menu_udstyr {border-bottom:1px solid #000;font-size:15px;left:101px;padding-right:90px;position:absolute;top:210px;}
.menu_kontakt {border-bottom:1px solid #000;font-size:15px;left:118px;padding-right:50px;position:absolute;top:332px;}
.menu_cases {border-bottom:1px solid #000;font-size:15px;left:572px;padding-left:90px;position:absolute;top:112px;}
.menu_referencer {border-bottom:1px solid #000;font-size:15px;left:610px;padding-left:80px;position:absolute;top:213px;}
.flash_top {height:109px;position:absolute;right:14px;top:6px;width:106px;}
/*.tt {font-size:15px;text-transform:uppercase;}
.form_contact label{float:left;font-size:12px;}
.form_contact textarea{border:1px solid #ccc;color:#666;font-size:11px;height:80px;margin-bottom:7px;padding:2px;}
.txt_contact {border:1px solid #ccc;color:#666;font-size:11px;height:20px;line-height:22px;margin-bottom:7px;padding:2px;}*/

#header{position:relative} #topnav{position:absolute;right:10px;text-align:right;top:10px} #header,#nav,#main,#footer{clear:both}
#col1{float:left;width:200px} #col2{float:right;width:200px} #col3{margin:0 200px;width:auto} #col1{z-index:3} #col2{z-index:5}
#col3{z-index:1} #col1_content{z-index:4} #col2_content{z-index:6} #col3_content{z-index:2} #col1_content,#col2_content,#col3_content{position:relative}
.hideboth #col3{margin-left:0;margin-right:0} .hidecol1 #col3{margin-left:0;margin-right:200px} .hidecol2 #col3{margin-left:200px;margin-right:0} .hideboth #col1,.hideboth #col2{display:none}
.hidecol1 #col1{display:none} .hidecol2 #col2{display:none}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden} .clearfix{display:block}
.floatbox{overflow:hidden} #ie_clearing{display:none} .subcolumns,.subcolumns_oldgecko{overflow:hidden;width:100%} .subcolumns_oldgecko{float:left} .c50l,.c25l,.c33l,.c38l,.c66l,.c75l,.c62l{float:left} .c50r,.c25r,.c33r,.c38r,.c66r,.c75r,.c62r{float:right;margin-left:-5px}
.c25l,.c25r{width:25%} .c33l,.c33r{width:33.333%} .c50l,.c50r{width:50%} .c66l,.c66r{width:66.666%} .c75l,.c75r{width:75%} .c38l,.c38r{width:38.2%}
.c62l,.c62r{width:61.8%} .subc{padding:0 .5em} .subcl{padding:0 1em 0 0}
.subcr{padding:0 0 0 1em} .skip,.hideme,.print{height:1px;left:-1000em;position:absolute;top:-1000em;width:1px}.skip:focus,.skip:active{height:auto;left:0;position:static;top:0;width:auto} .p20l {padding-left: 20px;} .mh640 {min-height: 640px;} .float_left {float: left;}.cb {clear: both; font-size: 0;} .p45l {padding-left: 40px;} .p20r {padding-right: 20px;}
.p50t {padding-top: 30px;}.w270 {width: 270px;} .p10b {padding-bottom: 10px;} .w40 {width: 40px !important;} .p10l {padding-left: 10px;} .w169 {width: 169px !important;} .w90 {width: 90px !important;}

#nav_main{background:none repeat scroll 0 0 rgba(0,0,0,0);display:inline;float:left;line-height:0;overflow:hidden;width:100%}
ul#navigation-1 {font-size:15px;list-style:none outside none;margin:0 auto;padding-left:15px;z-index:1000}
ul#navigation-1 li{display:block;float:left;list-style:none outside none;margin:0;padding:0;position:relative;z-index:1000}
ul#navigation-1 li a{display:inline;float:left;list-style-type:none;margin:0;padding:0; line-height: 1.5em;}
ul#navigation-1 li a:link,ul#navigation-1 li a:visited{background:none repeat scroll 0 0 transparent;color:#000;display:inline;margin:0;padding:0 25px;text-decoration:none;z-index:1000}
ul#navigation-1 li:hover a,ul#navigation-1 li a:hover,ul#navigation-1 li a:active{color:#fc9028;text-decoration:none}
ul#navigation-1 li a.current{color:#fc9028;text-decoration:none}
ul#navigation-1 li ul.navigation-2{background:url(../../img/bg_menucon.png) repeat-y scroll left top rgba(0,0,0,0);display:none;left:15px;list-style:none outside none;margin:0;padding:0 0 5px;position:absolute;top:17px;width:180px;z-index:1000}
ul#navigation-1 li:hover ul.navigation-2{display:block}
ul#navigation-1 li ul.navigation-2 li{background:none repeat scroll 0 0 rgba(0,0,0,0);clear:left;display:block;height:20px;width:180px;z-index:1000}
ul#navigation-1 li ul.navigation-2 li a:link,ul#navigation-1 li ul.navigation-2 li a:visited{border:medium none;clear:left;color:#000;display:block;margin-left:6px;padding:5px 0 5px 5px;position:relative;width:180px;z-index:1000}
ul#navigation-1 li ul.navigation-2 li:hover a,ul#navigation-1 li ul.navigation-2 li a:active,ul#navigation-1 li ul.navigation-2 li a:hover{color:#fc9028;text-decoration:none}
ul#navigation-1 li ul.navigation-2 li a.current{color:#fc9028;text-decoration:none}
ul#navigation-1 li ul.navigation-2 li a span{color:red;font-size:12pt;left:132px;position:absolute;top:0}
ul#navigation-1 li ul.navigation-2 li:hover a span,ul#navigation-1 li ul.navigation-2 li a:hover span{color:red;font-size:12pt;left:132px;position:absolute;top:0}
.ddshadow{position:absolute}
ul#navigation-1 li#current a{color:#fc9028;text-decoration:none}
ul.navigation-2 li#current a{color:#fc9028;text-decoration:none}
ul#navigation-1 li.active a{color:#fc9028;text-decoration:none}
.font_nenu {font-family: 'oratorstd';}
.hide {display:none; } .show { display:show;}
#bgr a:focus, a:hover, a:active {color: #FC9028; text-decoration: none;}
.flash_top {height: 109px; position: absolute; right: 14px; top: 6px; width: 106px;}
.content_left {width: 395px; float: left; padding: 0 30px 20px 0px;}
#main h3 {font-family: 'oratorstd'; font-size: 15px; text-transform: uppercase; margin-top: 0;}
.form_contact {width: 500px; float: left; padding-left: 90px;}
.form_contact label {float: left; font-size: 12px; width: 100px; font-weight: normal;}
.form_contact input {border: 1px solid #ccc; color: #666; font-size: 11px; line-height: 11px; margin-bottom: 7px; padding: 6px 10px; width: 300px;}
.form_contact textarea {border: 1px solid #ccc; color: #666; font-size: 11px; margin-bottom: 7px; padding: 3px 10px; width: 300px; height: 80px;}
.contact_info {width: 270px; float: left; font-size: 12px; padding-left: 30px;}
.contact_info p {line-height: 2em;}
ul.list_video {width: 142px; height: 287px;}
ul.list_video li {margin-bottom: 10px;}
.txt_content {width: 410px; float: left; margin-left: 20px;}
.video_info {width: 180px; float: left; margin-left: 20px;}
footer a {font-weight: bold;}
#header p {margin-bottom: 0;}

/*******14/07/2014*******/
.float_right {float: right;}
.menu_showreel{border-bottom:1px solid #000;font-size:15px;left:603px;padding-left:80px;position:absolute;top:325px}
input.btnSend {background: url(../img/bt_send.jpg) no-repeat; width: 60px; height: 24px; border: none; text-indent: -99999px; display: block;}